<div class="ani-comeinright">
  <div *ngIf="job">
    <md-card>
      <md-card-header>
        <md-card-title><h3>{{job.title}}</h3></md-card-title>
        <md-card-subtitle class="subtitle">
          <span class="subtitle-item">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            {{job.company}}
          </span>
          <span class="subtitle-item">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            {{job.email}}
          </span>
          <span class="subtitle-item">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{job.firstName}} {{job.lastName}}
          </span>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content >
        <div class="jd">
          <span class="jd-title">
            <i class="fa fa-book" aria-hidden="true"></i>
            Job Description
          </span>
          <p>{{job.description.slice(0, 300)}} ...</p>
        </div>
      </md-card-content>

      <md-card-actions class="btn-panel">
        <button md-raised-button routerLink="/job/{{job.id}}/edit">Edit</button>
        <button md-raised-button (click)="onDelete()">Delete</button>
        <button md-raised-button (click)="onBack()">Back</button>
      </md-card-actions>

    </md-card>
  </div>
</div>