.subtitle {
	display: flex;
	width: 100%
}

.subtitle-item{
	flex: 1
}

.btn-panel{
	text-align: right;
}

.jd{
	margin-left: 8px;
	border-top: #ccc 1px solid;
    padding-top: 5px;
	height: 110px;
}

.jd-title{
	color: #757575;
	padding-bottom: 10px;
	margin-bottom: 5px;
    display: block;
}

/deep/ .mat-card-header-text{
	width: 100%;
}