<div class="ani-comeinright">
  <h3>Vacancies</h3>
  <!-- <ul class="jobs">
    <li *ngFor="let job of jobs"
      [class.selected]="job === selectedjob"
      (click)="onSelect(job.Id)">
      <span class="badge">12</span> {{job.Name}}
    </li>
  </ul>
 -->
  <div class="col-sm-6 card" *ngFor="let job of jobs">
  	<md-card>
      <md-card-header>
        <md-card-title><h4>{{job.title}}</h4></md-card-title>
        <md-card-subtitle>
          <div class="subtitle">
            <span class="subtitle-item">
              <i class="fa fa-suitcase" aria-hidden="true"></i>
              {{job.company}}
            </span><!-- 
            <span class="subtitle-item">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              {{job.email}}
            </span> -->
          </div>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="jd">
          <span class="jd-title">
            <i class="fa fa-book" aria-hidden="true"></i>
            Job Description
          </span>
          <p>{{job.description.slice(0, 300)}} ...</p>
        </div>
      </md-card-content>
      <md-card-actions class="btn-panel">
        <button md-button (click)="onSelect(job.id)">Detail</button>
      </md-card-actions>
    </md-card>
  </div>
</div>

<!-- 
<div *ngIf="selectedjob">
  <job-detail [job]="selectedjob"></job-detail>
</div>
 -->