<div class="ani-comeinright">
  <md-card>
    <div class="col-sm-6">
      <md-input-container class="input-container" >
        <input mdInput placeholder="First Name" [(ngModel)]="job.firstName" (ngModelChange)="onChange('firstName', $event)">
      </md-input-container>
      <div class="error" *ngIf="errors.firstName">{{errors.firstName}}</div>
    </div>
    <div class="col-sm-6">
      <md-input-container class="input-container" >
        <input mdInput placeholder="Last Name"  [(ngModel)]="job.lastName" (ngModelChange)="onChange('lastName', $event)">
      </md-input-container>
      <div class="error" *ngIf="errors.lastName">{{errors.lastName}}</div>
    </div>

    <div class="col-sm-12">
      <md-input-container class="input-container">
        <input mdInput placeholder="Company"  [(ngModel)]="job.company" (ngModelChange)="onChange('company', $event)">
      </md-input-container>
      <div class="error" *ngIf="errors.company">{{errors.company}}</div>
    </div>

    <div class="col-sm-6">
      <md-input-container class="input-container" >
        <input mdInput placeholder="Phone"  [(ngModel)]="job.contactNumber" (ngModelChange)="onChange('contactNumber', $event)">
      </md-input-container>
      <div class="error" *ngIf="errors.contactNumber">{{errors.contactNumber}}</div>
    </div>

    <div class="col-sm-6">
      <md-input-container class="input-container" >
        <input mdInput placeholder="Email"  [(ngModel)]="job.email" (ngModelChange)="onChange('email', $event)">
      </md-input-container>
      <div class="error" *ngIf="errors.email">{{errors.email}}</div>
    </div>

    <div class="col-sm-12">
      <md-input-container class="input-container" >
        <input mdInput placeholder="Job Title"  [(ngModel)]="job.title" (ngModelChange)="onChange('title', $event)">
      </md-input-container>
      <div class="error" *ngIf="errors.title">{{errors.title}}</div>
    </div>

    <div class="col-sm-12">
      <md-input-container class="input-container" >
        <textarea mdInput placeholder="Job Description"  [(ngModel)]="job.description"></textarea>
      </md-input-container>
    </div>
    <div class="btn-panel">
      <button md-raised-button (click)="onSave()" [disabled]="onFormInvalid()">Save</button>  
      <button md-raised-button (click)="onBack()">Cancel</button>  
    </div>
  </md-card>
</div>