.input-container {
	width: 100%; 
	padding: 0 20px; 
}

.mat-input-placeholder.mat-empty { 
	font-weight: 300 !important; 
}

.btn-panel { 
	text-align: right; 
}

.mat-input-wrapper{
	margin: 0;
}

.col-sm-6, .col-sm-12 {
	min-height: 80px;
}

.error {
	margin: -1em 2em;
    font-size: 12px;
    color: red;
    font-style: italic;
}