/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	margin: 0px;
	background: #fafafa;
}

.navbar {
	height: 50px;
	box-shadow: 0 0px 10px 0 #ddd, 0 0px 2px 0 #ddd;
	display: flex;
}

.nav-title {
	font-size: 30px;
	padding: 5px 50px;
	flex: 1;
}

.nav-action {
	flex: 10;
	text-align: right;
}

.ani-comeinright {
  animation: comeinright 0.25s
}

@keyframes comeinright {
  from { margin-left: 100%; }
  to   { margin-left: 0; }
}

.ani-fadein {
	animation: fadein 1.5s
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}